:root {
    --text-color: #0b0b0b;
    /*--body-background: #fff;*/
    --body-background: #f4f4f4;
    --button-color-orange: #ffad40;
    --button-color-orange-hover: #ff8b19;
    --footer-background: #e6e6e6;
}

* {
    font-family: "Open Sans","Trebuchet MS", Helvetica,Arial,sans-serif;
    color: var(--text-color);
}

.main-button {
    border: none;
    border-radius: 0.5rem;
    max-width: 9rem;
    height: 3rem;
    background-color: var(--button-color-orange);
    color: var(--body-background);
    font-size: 1.3rem;
    font-weight: bold;
    transition: 0.3s;
    padding: .5rem;
}

.main-button:hover {
    background-color: var(--button-color-orange-hover);
}

.minor-button {
    border: none;
    border-radius: 0.5rem;
    max-width: 11rem;
    min-height: 2rem;
    background-color: var(--button-color-orange);
    color: var(--body-background);
    font-size: .9rem;
    font-weight: bolder;
    transition: 0.3s;
    padding: .3rem;
    cursor: pointer;
    /*    -webkit-text-stroke: 0.5px var(--button-color-orange);*/
}

.minor-button:hover {
    background-color: var(--footer-background);
    color: var(--button-color-orange-hover);
}

.error {
    background-color: var(--button-color-orange-hover);
    color: white;
    font-weight: bold;
    border: .3rem solid red;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 40rem;
    width: 40rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    min-height: 110vh;
    background-color: var(--body-background);
}

html {
    /* font-size: 16px; */
    font-size: 100%;
}

header {
    position: fixed;
    width: 100%;
    min-height: 50px;
    background-color: var(--body-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

header a:link {
    color: #68726a;
    text-decoration: none;
}

header a:visited {
    color: #68726a;
    text-decoration: none;
}

header img {
    position: relative;
    width: auto;
    height: 50px;
    /* border: 1px solid black; */
}

header #logo {
    /* color: var(--button-color-orange); */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

header #logo span {
    /* color: #1e1c75; */
    color: var(--button-color-orange);
}

main {
    flex: 1;
    font-size: 1.5rem;
    /* margin-top: 20vw; */
    margin-top: 2.3em;
    margin-bottom: 2.3em;
    /* border: 1px solid red; */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

h2 {
    color: var(--button-color-orange);
}

#introduction {
    position: relative;
    width: 100%;
}

#introduction #title_image {
    width: 100%;
    height: auto;
}

#introduction #intro_text {
    position: absolute;
    display: block;
    height: auto;
    padding: 3vw;
    /* width: 27vw; */
    width: 30vw;
    top: 19vw;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid white; */
    /* font-size: 4vw; */
    font-size: 2em;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    background-color: rgba(7, 106, 225, .8);
    text-align: center;
}

main h1 {
    color: var(--button-color-orange);
}

footer {
    min-height: 50px;
    background-color: var(--footer-background);
    width: 100%;
    text-align: center;
}

footer p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /*    color: var(--body-background);*/
}

#page_container {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    /* border: 1px solid red; */
}

#title_image {
    max-width: 100%;
    height: auto;
    width: auto;
    border: 1px solid var(--button-color-orange-hover);
}

p {
    color: #68726a;
}

#page_container h1 {
    font-size: 3.5rem;
}

#page_container .button {
    margin-top: 3em;
    margin-bottom: 3em;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid var(--button-color-orange-hover); */
}

#page_container .button a:link {
    text-decoration: none;
    color: white;

}

#page_container .button a:visited {
    text-decoration: none;
    color: white;
}

#page_container .prod_info {
    text-align: center;
    width: 200px;
    height: 45px;
    background-color: var(--button-color-orange);
    border: .2em solid var(--button-color-orange);
    padding-top: 1em;
    color: white;
    -webkit-text-stroke: .2px black;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 3px 14px 2px rgba(0, 0, 0, .12), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 5px 5px -3px rgba(0, 0, 0, .2);
    transition: .3s;
}

#page_container .prod_info:hover {
    cursor: pointer;
    background-color: white;
    transition: .3s;
    /* color: var(--button-color-orange);
    -webkit-text-stroke: 0px black; */
}

#page_container .prod_info:hover a {
    color: var(--button-color-orange);
    -webkit-text-stroke: 0px black;
}

main #header {
    text-align: center;
    width: 70vw;
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
}

main #services {
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

main #products {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 5em;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#products .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    width: 16em;
    min-height: 10em;
    /* margin-left: auto; */
    /* margin-right: auto; */
    color: white;
    background-color: var(--button-color-orange);
    /* border-radius: 1em; */
    padding: .5em;
    text-align: center;
    -webkit-text-stroke: .2px black;
}

#products .product img {
    width: 96px;
    margin-left: auto;
    margin-right: auto;
}

#products .product .text {
    margin-top: .5em;
    flex: 2;
    /* font-weight: bold; */
    /* font-stretch: extra-expanded; */
    /* -webkit-text-stroke: .2px black; */
}

#products .product .butt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .7em;
    margin-top: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 0;
    width: 45%;
    height: 3em;
    font-size: .7em;
    font-weight: bold;
    border-radius: 0;
    background-color: var(--body-background);
    border: none;
    transition: 0.4s;
}

#products .product a {
    width: 100%;
    height: 100%;
    /* font-size: .7em;
    font-weight: bold;
    border-radius: 0;
    background-color: var(--body-background);
    border: none;
    transition: 0.4s; */
}

#products .product a:link {
    text-decoration: none;
    color: black;
}

#products .product a:visited {
    text-decoration: none;
    color: black;
}

#products .product .butt:hover {
    background-color: var(--button-color-orange-hover);
    color: white;
    transition: 0.4s;
}

#products .product .butt:hover a {
    color: white;
}

#products .product h2 {
    color: white;
    margin: 0 0 .5em 0;
    padding-bottom: .5em;
    border-bottom: 1px solid white;
}

button:hover {
    cursor: pointer;
}

.product_info {
    margin-bottom: 3em;
}

.product_info img {
    float: left;
    padding-right: 1em;
}

iframe {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}

#phone,
#email_address {
    position: static;
    display: block;
    color: #68726a;
    margin: 0;
    height: 1.5em;
    padding-bottom: 1em;
}

#phone a,
#email_address a {
    display: inline-block;
    color: var(--button-color-orange);
    margin: 0;
    height: 1em;
}

#contact {
    margin-top: 1em;
    color: #68726a;
    width: 45%;
    height: 30vw;
    text-align: center;
    margin-bottom: 2em;
    /*     float: left;
    */
}

#contact table {
    width: 80%;
    /* margin-left: auto;
    margin-right: auto; */
    /* border: 1px solid green; */
    background-color: var(--button-color-orange);
    color: white;
    height: 100%;
    padding-bottom: 1em;
}

#contact td {
    width: 50%;
    height: 15%;
    text-align: left;
    /* padding-left: 10px; */
}

#contact td:first-child {
    padding-left: 1.5em;
}

#contact tr:last-child td:last-child {
    text-align: right;
}

#contact input {
    height: 20%;
    min-height: 1.1em;
    font-size: 0.7em;
}

#contact input[type=submit] {
    /*     width: 50%; */
    width: 7em;
    margin-right: 2.5em;
    height: 2.5em;
    border-radius: 0;
    color: var(--button-color-orange-hover);
    background-color: var(--body-background);
    border: none;
    transition: .2s;
    font-weight: bold;
    font-size: .7em;
}

#contact input[type=submit]:hover {
    cursor: pointer;
    background-color: var(--button-color-orange-hover);
    color: var(--body-background);
}

#contact textarea,
#contact input {
    width: 80%;
}

#opening_hours {
    border: 1px solid var(--button-color-orange);
    border-collapse: collapse;
    color: #68726a;
}

#opening_hours tr:first-child td:first-child {
    text-align: center;
}

#opening_hours td {
    border: 1px solid var(--button-color-orange);
    padding: 5px;
}

ul {
    color: #68726a;
}

/* Galerie */
.row>.column {
    /* padding: 0 8px; */
    /* border: 1px solid black; */
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 210px;
    /*     background-color: 1px solid red; */
}

.column img {
    border: 1px solid black;
    width: 200px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 200;
    /* padding-top: 100px; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 100%;
    z-index: 0;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 200;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    z-index: 200;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.black {
    color: black;
}

/* Konec galerie */

/* Nastavení transakcí */
.transactions {
    width: 100%;
}

.transactions td {
    text-align: center;
}

.transaction_h1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.active {
    color: green;
}

.closed {
    color: gray;
}

.canceled {
    color: red;
}

.transaction_container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-height: 600px;
    overflow-y: auto;
}

.inventory_container {
    width: 80%;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    overflow-x: auto;
}

#inventory_table {
    width: 100%;
    min-width: 95rem;
}

/* Nastavení notifikací */
.notification {
    position: relative;
    display: inline-block;
    padding: 15px 26px;
}

.notification .badge {
    position: absolute;
    top: 30px;
    /*right: -30px;*/
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Telefony */
@media screen and (max-width: 768px) {
    #home {
        border-top: 1px solid var(--button-color-orange-hover);
    }

    #contact {
        width: 100%;
    }

    #contact table {
        width: 100%;
    }

    #contact input[type=submit] {
        margin-right: 1.35em;
    }
}

/*@media screen and (min-width: 769px) {*/
@media screen and (min-width: 1300px) {
    #navbar_container {
        display: none;
    }

    nav {
        display: flex;
        width: 80%;
        height: 50px;
        margin-right: 20px;
        /* text-align: right; */
        justify-content: flex-end;
        align-items: center;
    }

    .nav_button {
        display: inline-block;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        /* width: 115px; */
        height: 100%;
        /* border: 1px solid red; */
        text-align: center;
        /* vertical-align: middle; */
        font-size: 22px;
    }

    .nav_button:hover {
        /* box-shadow: 1px black; */
        color: var(--button-color-orange);
    }
}

table tr:nth-child(even) {
    background-color: var(--footer-background);
}

table td {
    padding: 1rem;
}

table {
    border-collapse: collapse;
}

@media screen and (max-width: 1300px) {
    /* Jednoduché burger menu */
    #navbar_container {
        position: relative;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        background-image: url('../images/icons8-menu-rounded-50.png');
    }

    #navbar_container:hover {
        cursor: pointer;
    }

    nav {
        position: absolute;
        text-align: center;
        top: 50px;
        height: 0px;
        overflow: hidden;
        transition: 0.5s;
        width: 100%;
    }

    .nav_button {
        height: 35px;
        padding-top: 10px;
        font-size: 22px;
        background-color: white;
        border-bottom: 1px solid var(--button-color-orange-hover);
        /*         vertical-align: center;*/
        align-content: center;
    }

    .nav_button:hover {
        /* box-shadow: 1px black; */
        color: var(--button-color-orange);
        background-color: var(--body-background);

    }
    
    .notification {
        padding: unset;
        margin: unset;
        padding-top: 10px;
        width: 100%;
    }

    #navbar_container .badge {
        position: absolute;
        top: 30px;
        right: -30px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 3px;
        border-radius: 50%;
        background: red;
        color: white;
        font-size: 15px;
        font-weight: bold;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    
    #introduction #intro_text {
        width: 70vw;
    }

    #contact {
        height: 70vw;
        width: 80%;
    }
}